body {
    min-width: 335px;
}
.logo-mini i {
    font-size: 26px;
}
.sidebar .logo a:last-child {
    font-family: Playball;
    text-transform: initial;
    font-size: 36px;
}
.sidebar .pt-separator {
    padding-bottom: 20px;
    margin: 20px auto 0;
    position: relative;
}
.sidebar .pt-separator::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 15px;
    height: 1px;
    width: calc(100% - 30px);
    background-color: hsla(0,0%,71%,.3);
}

.table i {
    font-size: 1.1rem;
}
.pagination {
    justify-content: flex-end;
}
.main-panel > .content {
    min-height: calc(100vh - 155px);
}
.card-icon i {
    font-size: 1.2rem;
}
.fill-remaining {
    width: 100%;
}

/* Stages */
.growth-profile-add .stage:only-child .stage-toolbar > *:nth-child(2) > * {
    display: none;
}
.growth-profile-add .stage:first-child .stage-toolbar > *:first-child > * {
    display: none;
}
.growth-profile-add .stage:last-child .stage-toolbar > *:last-child > * {
    display: none;
}
/* Steps */
.growth-profile-add .stage .step:only-child .step-toolbar > *:nth-child(2) > * {
    display: none;
}
.growth-profile-add .stage .step:first-child .step-toolbar > *:first-child > * {
    display: none;
}
.growth-profile-add .stage .step:last-child .step-toolbar > *:last-child > * {
    display: none;
}

.navbar-nav .form-inline .btn {
    margin-right: 15px;
}

.card-toolbar {
    float: right;
}
.card-toolbar .btn {
    font-size: 1rem;
}
.logo-mini {
    width: 50px !important;
    margin-left: 12px !important;
}

.logo-mini > div {
    position: relative;
    top: -10px;
    width: 50px;
    height: 50px;
    background-size: contain;
    background-position: center center;
    background-image: url('http://static.coastlineapplications.com/plant_track/planttrack_logo_icon_cream.png')
}
.nav.navbar-nav.nav-mobile-menu .nav-item .btn {
    display: block;
    color: #fff;
    text-align: left;
    line-height: 20px;
    font-weight: 300;
    text-transform: capitalize;
    font-size: 13px;
}
.nav.navbar-nav.nav-mobile-menu .nav-item .btn i {
    float: initial;
    display: inline-block;
    line-height: 26px;
}
.navbar .navbar-nav .nav-item .btn {
    margin-right: 15px;
}

/* Batches */
.batch-card {

}
.batch-card .batch-description {
    float: right;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: right;
}

.card.full-height {
    height: 100%;
    box-sizing: border-box;
}
.no-margin {
    margin-top: 0px;
    margin-bottom: 0px;
}
.timeline > li.timeline-start, .timeline > li.timeline-end {
    text-align: center;
}
.timeline > li.timeline-end {
    margin-bottom: -40px;
}
.timeline > li.timeline-start > .timeline-panel, .timeline > li.timeline-end > .timeline-panel {
    float: initial;
    display: inline-block;
}
.timeline > li.timeline-start > .timeline-panel:after, .timeline > li.timeline-start > .timeline-panel:before, .timeline > li.timeline-end > .timeline-panel:after, .timeline > li.timeline-end > .timeline-panel:before {
    display: none;
}
.main-panel > .navbar .btn i {
    font-size: 1rem !important;
}

.navbar-absolute {

}
.pt-tooltip {
    display: inline-block;
}
.bg-warning {
    background-color:
        #ff9800 !important;
}
.batch-steps > * {
    margin-left: 5px;
    margin-right: 5px;
}
