body {
    min-width: 335px;
}
.logo-mini i {
    font-size: 26px;
}
.sidebar .logo a:last-child {
    font-family: Playball;
    text-transform: initial;
    font-size: 36px;
}
.sidebar .pt-separator {
    padding-bottom: 20px;
    margin: 20px auto 0;
    position: relative;
}
.sidebar .pt-separator::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 15px;
    height: 1px;
    width: calc(100% - 30px);
    background-color: hsla(0,0%,71%,.3);
}

.table i {
    font-size: 1.1rem;
}
.pagination {
    justify-content: flex-end;
}
