.card.card-login, .card.card-signup {
    background: #0008;
}
.card.card-login .card-title, .card.card-signup .card-title {
    font-family: 'Playball', cursive;
    font-size: 3rem;
    font-weight: normal;
}
.card.card-login .card-header-olive, .card.card-signup .card-header-olive {
    background: #9fa659;
}
.card.card-login .card-header-cream {
    background: #efeeb6;
}
.text-olive {
    color: #9fa659 !important;
}
.text-cream {
    color: #efeeb6 !important;
}
.text-shadow-cream-on-olive {
    text-shadow: 1px 1px 1px #3f4623;
}
.text-shadow-olive-on-cream {
    text-shadow: 1px 1px 1px #efeeb6;
}
.register-page .card-signup .card-header {
    margin-top: -60px !important;
    margin-bottom: 20px;
    box-sizing: border-box !important;
    width: calc(100% - 40px);
}
.card.card-signup .check {
    border: 1px solid #9fa659;
}
